<div class="row p-5 bg-black text-white text-center">
    <div class="col-md-4">
        Logo
    </div>
    <div class="col-md-4">
        <h3>menu secundario</h3>
    </div>

    <div class="col-md-4">
        redes
    </div>
</div>
